doctype html
html
    head

        title MyBlog
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/toastr.min.css')
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/toastr.min.js')
        style.
            #rightAffix {
                width: 250px;
            }

    body
        block content
            include login
            div.container
                nav(role="navigation").navbar.navbar-inverse
                    div.container-fluid
                        div.navbar-header
                            a(href="#").navbar-brand Brand
                        div.collapse.navbar-collapse

                            ul.nav.navbar-nav.navbar-right
                                li.active
                                    a(href="#").btn.btn-lg 首页
                                li
                                    a(href="/myBlog").btn.btn-lg 我的博客
                                li
                                    a(href="#").btn.btn-lg About
                                li
                                    a(href="#").btn.btn-lg Contact
                                li.dropdown#dropdown
                                    a(href="#",data-toggle="dropdown").dropdown-toggle.btn 登录/注册
                                        span.caret
                                    ul(role="menu").dropdown-menu
                                        li
                                            a(data-toggle="modal",data-target="#loginModal")(href="#") 登录
                                        li.divider
                                        li
                                            a(data-toggle="modal",data-target="#registerModal")(href="#") 注册
                                li(hidden="hidden")#welcome
                                    a(href="#").btn#welcomeUsername

                div.col-md-9
                    div.row
                        div.col-xs-6.col-md3
                            a(href='#').thumbnail
                                img(src="/images/wukong.jpg",alt="")
                        div.col-xs-6.col-md3
                            a(href='#').thumbnail
                                img(src="/images/wukong.jpg",alt="")
                    ul.list-group
                        a(href="#").list-group-item.list-group-item-success
                            h3.list-group-item-heading success
                            p.list-group-item-text.
                                success success success
                                success  success success
                                success success success success

                        a(href="#").list-group-item.list-group-item-info
                            h3.list-group-item-heading info
                            p.list-group-item-text info info info info
                        a(href="#").list-group-item.list-group-item-warning
                            h3.list-group-item-heading warning
                            p.list-group-item-text warning warning warning warning
                        a(href="#").list-group-item.list-group-item-danger
                            h3.list-group-item-heading danger
                            p.list-group-item-text danger danger danger danger
                        a(href="#").list-group-item.list-group-item-success
                            h3.list-group-item-heading success
                            p.list-group-item-text success success success success success success success success success success
                        a(href="#").list-group-item.list-group-item-info
                            h3.list-group-item-heading info
                            p.list-group-item-text info info info info
                        a(href="#").list-group-item.list-group-item-warning
                            h3.list-group-item-heading warning
                            p.list-group-item-text warning warning warning warning
                        a(href="#").list-group-item.list-group-item-danger
                            h3.list-group-item-heading danger
                            p.list-group-item-text danger danger danger danger
                        a(href="#").list-group-item.list-group-item-success
                            h3.list-group-item-heading success
                            p.list-group-item-text success success success success success success success success success success
                        a(href="#").list-group-item.list-group-item-info
                            h3.list-group-item-heading info
                            p.list-group-item-text info info info info
                        a(href="#").list-group-item.list-group-item-warning
                            h3.list-group-item-heading warning
                            p.list-group-item-text warning warning warning warning
                        a(href="#").list-group-item.list-group-item-danger
                            h3.list-group-item-heading danger
                            p.list-group-item-text danger danger danger danger
                div.col-md-3
                    ul.list-group#rightAffix
                        a(href="#").list-group-item.list-group-item-success success success
                            span.badge 10
                        a(href="#").list-group-item.list-group-item-info info
                            span.badge 10
                        a(href="#").list-group-item.list-group-item-warning warning
                        a(href="#").list-group-item.list-group-item-danger danger
    script(type="text/javascript").
        $(function () {
            $("#rightAffix").affix({
                offset: {}
            });
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-bottom-right",
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            /** 注册 **/
            $("#registerBtn").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/users/register",
                    data: $("#registerForm").serialize(),
                    success: function (json) {
                        if (json.code == 200) {
                            $('#registerModal').modal('hide');
                            toastr.success(json.msg);
                        }
                        else {
                            toastr.success(json.msg);
                        }
                    }
                });
            });
            /** 登陆 **/
            $("#loginBtn").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/users/login",
                    data: $("#loginForm").serialize(),
                    success: function (json) {
                        if (json.code == 200) {
                            $('#loginModal').modal('hide');
                            $("#dropdown").hide();
                            $("#welcomeUsername").append(json.username);
                            $("#welcome").show();
                            toastr.success(json.msg);
                        }
                        else {
                            toastr.success(json.msg);
                        }
                    }
                });
            });
        });