//Created by Administrator on 2016/9/14.

//登录

div(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true").modal.fade#loginModal
    div.modal-dialog
        div.modal-content
            div.modal-header
                button(type="button",data-dismiss="modal").close
                    span(aria-hidden="true") &times;
                    span.sr-only Close
                h4.modal-title 登录
            div.modal-body
                form(role='form',action="/login",method="POST")
                    div.form-group
                        label(for='username')
                        input(type='text',placeholder='Enter UserName',name="username").form-control#username
                    div.form-group
                        label(for='password')
                        input(type='password',placeholder='Enter Password',name="password").form-control#password

            div.modal-footer
                button(type="button").btn.btn-primary 登录
                button(type="button",data-dismiss="modal").btn.btn-default 取消



//注册
div(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true").modal.fade#registerModal
    div.modal-dialog
        div.modal-content
            div.modal-header
                button(type="button",data-dismiss="modal").close
                    span(aria-hidden="true") &times;
                    span.sr-only Close
                h4.modal-title 注册
            div.modal-body
                form(role='form',action="/register",method="POST")
                    div.form-group
                        label(for='email')
                        input(type='email',placeholder='Enter Email',name='email').form-control#email
                    div.form-group
                        label(for='username')
                        input(type='text',placeholder='Enter UserName',name="username").form-control#username
                    div.form-group
                        label(for='password')
                        input(type='password',placeholder='Enter Password',name="password").form-control#password

            div.modal-footer
                button(type="button").btn.btn-primary 注册
                button(type="button",data-dismiss="modal").btn.btn-default 取消